<div id="show">
  <h2 class="show-header">Welcome! <%= (@user.username).capitalize %></h2>

  <h2 class="show-title">Your Lists</h2>

    <%@user.lists.each do |list|%>
      <div class='list-show'>
        <div class="list_info">
          <a href="#"><%=list.name%></a>
        </div>
        <table class="circles">
          <tr>
            <td class="circle" id="circle<%=@nums.sample%>"><p class='letter'><%=list.users.first.username[0]%></p>
            </td>
            <td class="circle" id="circle<%=@nums.sample%>"><p class='letter'>P</p>
            </td>
            <td class="circle" id="circle<%=@nums.sample%>"><p class='letter'>M</p>
            </td>
          </tr>
        </table>
      </div>
    <%end%>
</div>
